.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear:both;
}

ul li {
    display: inline;
    
}
    
li a:visited, li a:link{
    text-decoration: none;
    color: skyblue;
}

.fonas {
    text-align: center;
    align-items: center;
    background-color: skyblue;
}

.nuspalvink{
    color: skyblue;
}

.balta{
    color: white;
}

.container {
  display: flex;
     
}

/*.plotis {
    flex-basis: 33%;
}*/

.kvadratinis{
    width: 600px;
}

article{
    padding-left: 20px;
    padding-right: 20px;
}

footer{
    height: 50px;
    text-align: center;
    background-color: darkcyan;
}

footer p{
    margin-top: 0px;
    padding-top: 15px;
}